### README: This notebook uses Google Map Direction APIs to collect the level of service for vista trips with following travel modes:
* transit

Note that we can also collect for other modes, but due to quote limitation, we only collect for `transit`. For other modes, we will use HERE APIs

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import json, os, time
import numpy as np
import pandas as pd
import googlemaps
from datetime import datetime, timedelta
from los_goolge_api_utils import *

In [3]:
# Setup google api key
GCP_MAP_KEY = os.environ.get('GCP_ELEVATION_API')
gmap = googlemaps.Client(key=GCP_MAP_KEY)

### Load trips data

In [4]:
trips = pd.read_csv("../data/processed/trip_od_full.csv", low_memory=False)
trips.shape

(36287, 111)

In [5]:
# Use relavent columns
cols = ['TRIPID', 'Mode', 'LINKMODE', 'TRIPPURP', 'DESTPURP1', 'TRIPTIME', 'TRAVTIME',
        'TRAVDOW', 'TRAVDATE', 'TRAVMONTH', 'TRAVYEAR', 'STARTHOUR', 'STARTIME', 
        'HomeSA1', 'CUMDIST','ORIGSA1', 'DESTSA1', 'ORIG_X', 'ORIG_Y', 'DEST_X', 'DEST_Y']
trips = trips[cols]
trips.shape

(36287, 21)

### Get trips departure time

In [6]:
# Get detailed start time of trips
trips['STARTMIN'] = trips['STARTIME'] % 60
trips['START_DETAIL_TIME'] = (trips['TRAVDATE'].astype(str) + " " + trips['STARTHOUR'].astype(str) 
                              + ":" + trips['STARTMIN'].astype(str))

In [7]:
trips.head().T

,0,1,2,3,4
TRIPID,Y12H0000107P01T01,Y12H0000107P01T02,Y12H0000107P01T03,Y12H0000107P01T04,Y12H0000107P02T01
Mode,Car,Car,Walk,Walk,Car
LINKMODE,Vehicle Driver,Vehicle Driver,Walking,Walking,Vehicle Passenger
TRIPPURP,Social,Social,Recreational,Recreational,Social
DESTPURP1,Social,At or Go Home,Recreational,At or Go Home,Social
TRIPTIME,20,10,30,30,20
TRAVTIME,20,10,30,30,20
TRAVDOW,Sunday,Sunday,Sunday,Sunday,Sunday
TRAVDATE,27/05/2012,27/05/2012,27/05/2012,27/05/2012,27/05/2012
TRAVMONTH,May,May,May,May,May
TRAVYEAR,2012,2012,2012,2012,2012
STARTHOUR,10,12,13,14,10
STARTIME,630,750,810,855,630
HomeSA1,20904122028,20904122028,20904122028,20904122028,20904122028
CUMDIST,2.6,2.6,3.23,3.23,2.6
ORIGSA1,20904122028,20904122002,20904122028,20904122031,20904122028
DESTSA1,20904122002,20904122028,20904122031,20904122028,20904122002
ORIG_X,145.087,145.072,145.087,145.062,145.087
ORIG_Y,-37.6597,-37.6515,-37.6597,-37.665,-37.6597
DEST_X,145.072,145.087,145.062,145.087,145.072
DEST_Y,-37.6515,-37.6597,-37.665,-37.6597,-37.6515
STARTMIN,30,30,30,15,30
START_DETAIL_TIME,27/05/2012 10:30,27/05/2012 12:30,27/05/2012 13:30,27/05/2012 14:15,27/05/2012 10:30

### Collect Level of Service from Google APIs

In [8]:
def get_datetime(str_time):
    return datetime.strptime(str_time,'%d/%m/%Y %H:%M')

# Test
print(get_datetime("27/05/2012 23:30"))

2012-05-27 23:30:00

In [9]:
def get_transit_future_departure_time(departure_time):
    """
    This function will get the transit future time for the same date of week of trip departure time,
    but in 2 weeks in futures.
    """
    tripday = get_datetime(departure_time)
    today = datetime.now()
    monday = today - timedelta(days=today.weekday())
    # Get same week day of the trip date
    sameday_thisweek = monday + timedelta(tripday.weekday())
    sameday_thisweek = sameday_thisweek.replace(hour=tripday.hour, minute=tripday.minute, second=tripday.second)
    # Get same day but in 2 weeks in future
    sameday_next2week = sameday_thisweek + timedelta(days=2*7) # Next 2 weeks 
    return sameday_next2week

In [10]:
# Test
dep_time = "06/08/2015 23:30"
get_transit_future_departure_time(dep_time)

datetime.datetime(2021, 9, 2, 23, 30, 0, 361133)

In [11]:
# Test with trips dataframe
trips.head(20).START_DETAIL_TIME.apply(lambda x: get_transit_future_departure_time(x))

0    2021-09-05 10:30:00.113294
1    2021-09-05 12:30:00.113317
2    2021-09-05 13:30:00.113332
3    2021-09-05 14:15:00.113344
4    2021-09-05 10:30:00.113356
5    2021-09-05 12:30:00.113367
6    2021-09-05 13:30:00.113379
7    2021-09-05 14:15:00.113390
8    2021-09-05 10:30:00.113401
9    2021-09-05 12:30:00.113412
10   2021-09-05 13:30:00.113423
11   2021-09-05 14:15:00.113434
12   2021-09-02 05:45:00.113446
13   2021-09-02 14:40:00.113457
14   2021-09-02 15:31:00.113468
15   2021-09-02 16:00:00.113480
16   2021-09-02 16:35:00.113491
17   2021-08-31 09:45:00.113502
18   2021-08-31 13:00:00.113513
19   2021-08-31 15:00:00.113524
Name: START_DETAIL_TIME, dtype: datetime64[ns]

In [12]:
def get_trip_los(trip, mode='transit'):
    time.sleep(0.3)
    start_time = get_transit_future_departure_time(trip['START_DETAIL_TIME'])    
    orig = [trip.ORIG_Y, trip.ORIG_X]
    dest = [trip.DEST_Y, trip.DEST_X]
    (trip['TRANSIT_TIME'], trip['TRANSIT_LEN']) = collect_google_los(gmap, orig, dest, mode, start_time)
    return trip

In [13]:
%%time
# Test
trips.head(20).apply(lambda x: get_trip_los(x), axis=1)

CPU times: user 278 ms, sys: 8.27 ms, total: 287 ms
Wall time: 10.7 s

,TRIPID,Mode,LINKMODE,TRIPPURP,DESTPURP1,TRIPTIME,TRAVTIME,TRAVDOW,TRAVDATE,TRAVMONTH,...,ORIGSA1,DESTSA1,ORIG_X,ORIG_Y,DEST_X,DEST_Y,STARTMIN,START_DETAIL_TIME,TRANSIT_TIME,TRANSIT_LEN
0,Y12H0000107P01T01,Car,Vehicle Driver,Social,Social,20,20,Sunday,27/05/2012,May,...,20904122028,20904122002,145.087302,-37.659741,145.071523,-37.651478,30,27/05/2012 10:30,1541,1930
1,Y12H0000107P01T02,Car,Vehicle Driver,Social,At or Go Home,10,10,Sunday,27/05/2012,May,...,20904122002,20904122028,145.071523,-37.651478,145.087302,-37.659741,30,27/05/2012 12:30,1231,2698
2,Y12H0000107P01T03,Walk,Walking,Recreational,Recreational,30,30,Sunday,27/05/2012,May,...,20904122028,20904122031,145.087302,-37.659741,145.062231,-37.664970,30,27/05/2012 13:30,1665,3857
3,Y12H0000107P01T04,Walk,Walking,Recreational,At or Go Home,30,30,Sunday,27/05/2012,May,...,20904122031,20904122028,145.062231,-37.664970,145.087302,-37.659741,15,27/05/2012 14:15,1443,3613
4,Y12H0000107P02T01,Car,Vehicle Passenger,Social,Social,20,20,Sunday,27/05/2012,May,...,20904122028,20904122002,145.087302,-37.659741,145.071523,-37.651478,30,27/05/2012 10:30,1541,1930
5,Y12H0000107P02T02,Car,Vehicle Passenger,Social,At or Go Home,10,10,Sunday,27/05/2012,May,...,20904122002,20904122028,145.071523,-37.651478,145.087302,-37.659741,30,27/05/2012 12:30,1231,2698
6,Y12H0000107P02T03,Cycle,Bicycle,Recreational,Recreational,12,12,Sunday,27/05/2012,May,...,20904122028,20904122031,145.087302,-37.659741,145.062231,-37.664970,30,27/05/2012 13:30,1665,3857
7,Y12H0000107P02T04,Cycle,Bicycle,Recreational,At or Go Home,12,12,Sunday,27/05/2012,May,...,20904122031,20904122028,145.062231,-37.664970,145.087302,-37.659741,15,27/05/2012 14:15,1443,3613
8,Y12H0000107P03T01,Car,Vehicle Passenger,Social,Social,20,20,Sunday,27/05/2012,May,...,20904122028,20904122002,145.087302,-37.659741,145.071523,-37.651478,30,27/05/2012 10:30,1541,1930
9,Y12H0000107P03T02,Car,Vehicle Passenger,Social,At or Go Home,10,10,Sunday,27/05/2012,May,...,20904122002,20904122028,145.071523,-37.651478,145.087302,-37.659741,30,27/05/2012 12:30,1231,2698
10,Y12H0000107P03T03,Cycle,Bicycle,Recreational,Recreational,12,12,Sunday,27/05/2012,May,...,20904122028,20904122031,145.087302,-37.659741,145.062231,-37.664970,30,27/05/2012 13:30,1665,3857
11,Y12H0000107P03T04,Cycle,Bicycle,Recreational,At or Go Home,12,12,Sunday,27/05/2012,May,...,20904122031,20904122028,145.062231,-37.664970,145.087302,-37.659741,15,27/05/2012 14:15,1443,3613
12,Y12H0000111P01T01,Car,Vehicle Driver,Work,Work Related,40,40,Thursday,24/05/2012,May,...,20904122028,21103126739,145.087302,-37.659741,145.251576,-37.801252,45,24/05/2012 5:45,6792,41094
13,Y12H0000111P01T02,Car,Vehicle Driver,Pick-up_Drop-off,Pick-up or Drop-off Someone,50,50,Thursday,24/05/2012,May,...,21103126739,20903121214,145.251576,-37.801252,145.157943,-37.597435,40,24/05/2012 14:40,0,0
14,Y12H0000111P01T03,Car,Vehicle Driver,Pick-up_Drop-off,At or Go Home,14,14,Thursday,24/05/2012,May,...,20903121214,20904122028,145.157943,-37.597435,145.087302,-37.659741,31,24/05/2012 15:31,0,0
15,Y12H0000111P01T04,Walk,Walking,Personal Business,Personal Business,35,35,Thursday,24/05/2012,May,...,20904122028,20904122031,145.087302,-37.659741,145.062231,-37.664970,0,24/05/2012 16:0,1556,4193
16,Y12H0000111P01T05,Walk,Walking,Personal Business,At or Go Home,35,35,Thursday,24/05/2012,May,...,20904122031,20904122028,145.062231,-37.664970,145.087302,-37.659741,35,24/05/2012 16:35,1443,3613
17,Y12H0000116P02T01,Car,Public Bus,Shopping,Buy Something,50,40,Tuesday,22/05/2012,May,...,20904122028,20904122002,145.087302,-37.659741,145.071523,-37.651478,45,22/05/2012 9:45,1430,3076
18,Y12H0000116P02T02,Car,Public Bus,Shopping,At or Go Home,20,19,Tuesday,22/05/2012,May,...,20904122002,20904122028,145.071523,-37.651478,145.087302,-37.659741,0,22/05/2012 13:0,1442,1931
19,Y12H0000116P02T03,Walk,Walking,Personal Business,Personal Business,15,15,Tuesday,22/05/2012,May,...,20904122028,20904122028,145.087302,-37.659741,145.087302,-37.659741,0,22/05/2012 15:0,0,0

In [14]:
trips.Mode.value_counts()

Walk     17115
Car      15764
Cycle     1704
Train     1704
Name: Mode, dtype: int64

In [15]:
# Divide data into walk_trips and not_walk_trips for smaller APIs number of queries
car_trips = trips[trips.Mode.isin(['Car'])]
walk_trips = trips[trips.Mode.isin(['Walk'])]
train_trips = trips[trips.Mode.isin(['Train'])]
cycle_trips = trips[trips.Mode.isin(['Cycle'])]
assert len(trips) == len(car_trips) + len(walk_trips) + len(train_trips) + len(cycle_trips)
walk_trips.shape, car_trips.shape, train_trips.shape, cycle_trips.shape, trips.shape

((17115, 23), (15764, 23), (1704, 23), (1704, 23), (36287, 23))

In [16]:
# Use batch processing as limitation of Google Map APIs service
# ApiError: 429, Too Many Requests, {"error":"Too Many Requests","error_description":"Rate limit for this service has been reached"}

def process_trips_los(trips_df, batch_size, save_path, df_name):
    """
    Process trips and get los from Google Map APIs
    Parameters
        trips_df: trips dataframe
        batch_size: process in batch due to quota limitation of Google Map APIs
        save_path: where to save collected batch files
    """
    batch_idxs = np.arange(len(trips_df)) // batch_size
    for gr, df in trips_df.groupby(batch_idxs):        
        trip_los = df.apply(lambda x: get_trip_los(x), axis=1)
        trip_los.to_csv(f"{save_path}/{df_name}_{gr}.csv")
        print(f"Finished batch {gr+1}", df.shape, trip_los.shape)
        time.sleep(5)
        
        
def join_trips_los(trips_len, batch_size, save_path, df_name):
    batch_idxs = np.arange(trips_len // batch_size + 1)
    trips = []
    for idx in batch_idxs:
        trip_los = pd.read_csv(f"{save_path}/{df_name}_{idx}.csv")
        trips.append(trip_los)
    return pd.concat(trips)

In [17]:
%%time
# RUN ONCE - Get LOS for train_trips
save_path = "../data/los_gmap"
batch_size = 200
process_trips_los(train_trips, batch_size, save_path, "train_trips_los_gmap")

Finished batch 1 (200, 23) (200, 25)
Finished batch 2 (200, 23) (200, 25)
Finished batch 3 (200, 23) (200, 25)
Finished batch 4 (200, 23) (200, 25)
Finished batch 5 (200, 23) (200, 25)
Finished batch 6 (200, 23) (200, 25)
Finished batch 7 (200, 23) (200, 25)
Finished batch 8 (200, 23) (200, 25)
Finished batch 9 (104, 23) (104, 25)
CPU times: user 21.9 s, sys: 338 ms, total: 22.3 s
Wall time: 15min 52s

In [18]:
%%time
# RUN ONCE - Get LOS for car_trips
process_trips_los(car_trips, batch_size, save_path, "car_trips_los_gmap")

Finished batch 1 (200, 23) (200, 25)
Finished batch 2 (200, 23) (200, 25)
Finished batch 3 (200, 23) (200, 25)
Finished batch 4 (200, 23) (200, 25)
Finished batch 5 (200, 23) (200, 25)
Finished batch 6 (200, 23) (200, 25)
Finished batch 7 (200, 23) (200, 25)
Finished batch 8 (200, 23) (200, 25)
Finished batch 9 (200, 23) (200, 25)
Finished batch 10 (200, 23) (200, 25)
Finished batch 11 (200, 23) (200, 25)
Finished batch 12 (200, 23) (200, 25)
Finished batch 13 (200, 23) (200, 25)
Finished batch 14 (200, 23) (200, 25)
Finished batch 15 (200, 23) (200, 25)
Finished batch 16 (200, 23) (200, 25)
Finished batch 17 (200, 23) (200, 25)
Finished batch 18 (200, 23) (200, 25)
Finished batch 19 (200, 23) (200, 25)
Finished batch 20 (200, 23) (200, 25)
Finished batch 21 (200, 23) (200, 25)
Finished batch 22 (200, 23) (200, 25)
Finished batch 23 (200, 23) (200, 25)
Finished batch 24 (200, 23) (200, 25)
Finished batch 25 (200, 23) (200, 25)
Finished batch 26 (200, 23) (200, 25)
Finished batch 27 (200, 23) (200, 25)
Finished batch 28 (200, 23) (200, 25)
Finished batch 29 (200, 23) (200, 25)
Finished batch 30 (200, 23) (200, 25)
Finished batch 31 (200, 23) (200, 25)
Finished batch 32 (200, 23) (200, 25)
Finished batch 33 (200, 23) (200, 25)
Finished batch 34 (200, 23) (200, 25)
Finished batch 35 (200, 23) (200, 25)
Finished batch 36 (200, 23) (200, 25)
Finished batch 37 (200, 23) (200, 25)
Finished batch 38 (200, 23) (200, 25)
Finished batch 39 (200, 23) (200, 25)
Finished batch 40 (200, 23) (200, 25)
Finished batch 41 (200, 23) (200, 25)
Finished batch 42 (200, 23) (200, 25)
Finished batch 43 (200, 23) (200, 25)
Finished batch 44 (200, 23) (200, 25)
Finished batch 45 (200, 23) (200, 25)
Finished batch 46 (200, 23) (200, 25)
Finished batch 47 (200, 23) (200, 25)
Finished batch 48 (200, 23) (200, 25)
Finished batch 49 (200, 23) (200, 25)
Finished batch 50 (200, 23) (200, 25)
Finished batch 51 (200, 23) (200, 25)
Finished batch 52 (200, 23) (200, 25)
Finished batch 53 (200, 23) (200, 25)
Finished batch 54 (200, 23) (200, 25)
Finished batch 55 (200, 23) (200, 25)
Finished batch 56 (200, 23) (200, 25)
Finished batch 57 (200, 23) (200, 25)
Finished batch 58 (200, 23) (200, 25)
Finished batch 59 (200, 23) (200, 25)
Finished batch 60 (200, 23) (200, 25)
Finished batch 61 (200, 23) (200, 25)
Finished batch 62 (200, 23) (200, 25)
Finished batch 63 (200, 23) (200, 25)
Finished batch 64 (200, 23) (200, 25)
Finished batch 65 (200, 23) (200, 25)
Finished batch 66 (200, 23) (200, 25)
Finished batch 67 (200, 23) (200, 25)
Finished batch 68 (200, 23) (200, 25)
Finished batch 69 (200, 23) (200, 25)
Finished batch 70 (200, 23) (200, 25)
Finished batch 71 (200, 23) (200, 25)
Finished batch 72 (200, 23) (200, 25)
Finished batch 73 (200, 23) (200, 25)
Finished batch 74 (200, 23) (200, 25)
Finished batch 75 (200, 23) (200, 25)
Finished batch 76 (200, 23) (200, 25)
Finished batch 77 (200, 23) (200, 25)
Finished batch 78 (200, 23) (200, 25)
Finished batch 79 (164, 23) (164, 25)
CPU times: user 3min 19s, sys: 2.82 s, total: 3min 21s
Wall time: 2h 23min 17s

In [19]:
%%time
# RUN ONCE - Get LOS for cycle_trips
process_trips_los(cycle_trips, batch_size, save_path, "cycle_trips_los_gmap")

Finished batch 1 (200, 23) (200, 25)
Finished batch 2 (200, 23) (200, 25)
Finished batch 3 (200, 23) (200, 25)
Finished batch 4 (200, 23) (200, 25)
Finished batch 5 (200, 23) (200, 25)
Finished batch 6 (200, 23) (200, 25)
Finished batch 7 (200, 23) (200, 25)
Finished batch 8 (200, 23) (200, 25)
Finished batch 9 (104, 23) (104, 25)
CPU times: user 19.9 s, sys: 333 ms, total: 20.3 s
Wall time: 13min 54s

In [20]:
%%time
# RUN ONCE - Get LOS for walk_trips
process_trips_los(walk_trips, batch_size, save_path, "walk_trips_los_gmap")

Finished batch 1 (200, 23) (200, 25)
Finished batch 2 (200, 23) (200, 25)
Finished batch 3 (200, 23) (200, 25)
Finished batch 4 (200, 23) (200, 25)
Finished batch 5 (200, 23) (200, 25)
Finished batch 6 (200, 23) (200, 25)
Finished batch 7 (200, 23) (200, 25)
Finished batch 8 (200, 23) (200, 25)
Finished batch 9 (200, 23) (200, 25)
Finished batch 10 (200, 23) (200, 25)
Finished batch 11 (200, 23) (200, 25)
Finished batch 12 (200, 23) (200, 25)
Finished batch 13 (200, 23) (200, 25)
Finished batch 14 (200, 23) (200, 25)
Finished batch 15 (200, 23) (200, 25)
Finished batch 16 (200, 23) (200, 25)
Finished batch 17 (200, 23) (200, 25)
Finished batch 18 (200, 23) (200, 25)
Finished batch 19 (200, 23) (200, 25)
Finished batch 20 (200, 23) (200, 25)
Finished batch 21 (200, 23) (200, 25)
Finished batch 22 (200, 23) (200, 25)
Finished batch 23 (200, 23) (200, 25)
Finished batch 24 (200, 23) (200, 25)
Finished batch 25 (200, 23) (200, 25)
Finished batch 26 (200, 23) (200, 25)
Finished batch 27 (200, 23) (200, 25)
Finished batch 28 (200, 23) (200, 25)
Finished batch 29 (200, 23) (200, 25)
Finished batch 30 (200, 23) (200, 25)
Finished batch 31 (200, 23) (200, 25)
Finished batch 32 (200, 23) (200, 25)
Finished batch 33 (200, 23) (200, 25)
Finished batch 34 (200, 23) (200, 25)
Finished batch 35 (200, 23) (200, 25)
Finished batch 36 (200, 23) (200, 25)
Finished batch 37 (200, 23) (200, 25)
Finished batch 38 (200, 23) (200, 25)
Finished batch 39 (200, 23) (200, 25)
Finished batch 40 (200, 23) (200, 25)
Finished batch 41 (200, 23) (200, 25)
Finished batch 42 (200, 23) (200, 25)
Finished batch 43 (200, 23) (200, 25)
Finished batch 44 (200, 23) (200, 25)
Finished batch 45 (200, 23) (200, 25)
Finished batch 46 (200, 23) (200, 25)
Finished batch 47 (200, 23) (200, 25)
Finished batch 48 (200, 23) (200, 25)
Finished batch 49 (200, 23) (200, 25)
Finished batch 50 (200, 23) (200, 25)
Finished batch 51 (200, 23) (200, 25)
Finished batch 52 (200, 23) (200, 25)
Finished batch 53 (200, 23) (200, 25)
Finished batch 54 (200, 23) (200, 25)
Finished batch 55 (200, 23) (200, 25)
Finished batch 56 (200, 23) (200, 25)
Finished batch 57 (200, 23) (200, 25)
Finished batch 58 (200, 23) (200, 25)
Finished batch 59 (200, 23) (200, 25)
Finished batch 60 (200, 23) (200, 25)
Finished batch 61 (200, 23) (200, 25)
Finished batch 62 (200, 23) (200, 25)
Finished batch 63 (200, 23) (200, 25)
Finished batch 64 (200, 23) (200, 25)
Finished batch 65 (200, 23) (200, 25)
Finished batch 66 (200, 23) (200, 25)
Finished batch 67 (200, 23) (200, 25)
Finished batch 68 (200, 23) (200, 25)
Finished batch 69 (200, 23) (200, 25)
Finished batch 70 (200, 23) (200, 25)
Finished batch 71 (200, 23) (200, 25)
Finished batch 72 (200, 23) (200, 25)
Finished batch 73 (200, 23) (200, 25)
Finished batch 74 (200, 23) (200, 25)
Finished batch 75 (200, 23) (200, 25)
Finished batch 76 (200, 23) (200, 25)
Finished batch 77 (200, 23) (200, 25)
Finished batch 78 (200, 23) (200, 25)
Finished batch 79 (200, 23) (200, 25)
Finished batch 80 (200, 23) (200, 25)
Finished batch 81 (200, 23) (200, 25)
Finished batch 82 (200, 23) (200, 25)
Finished batch 83 (200, 23) (200, 25)
Finished batch 84 (200, 23) (200, 25)
Finished batch 85 (200, 23) (200, 25)
Finished batch 86 (115, 23) (115, 25)
CPU times: user 3min 18s, sys: 2.67 s, total: 3min 21s
Wall time: 2h 17min 43s

### Join batch files together

In [22]:
train_trips_los = join_trips_los(len(train_trips), batch_size, save_path, "train_trips_los_gmap")
car_trips_los = join_trips_los(len(car_trips), batch_size, save_path, "car_trips_los_gmap")
walk_trips_los = join_trips_los(len(walk_trips), batch_size, save_path, "walk_trips_los_gmap")
cycle_trips_los = join_trips_los(len(cycle_trips), batch_size, save_path, "cycle_trips_los_gmap")
train_trips_los.shape, car_trips_los.shape, walk_trips_los.shape, cycle_trips_los.shape

((1704, 26), (15764, 26), (17115, 26), (1704, 26))

In [23]:
full_trips_los = pd.concat([train_trips_los, car_trips_los, walk_trips_los, cycle_trips_los])
full_trips_los.shape

(36287, 26)

In [25]:
# Remove trips with TRANSIT_TIME == 0
full_trips_los = full_trips_los[(full_trips_los.TRANSIT_TIME != 0) & (full_trips_los.TRANSIT_LEN != 0)]
full_trips_los.drop(columns=["Unnamed: 0"], inplace=True)
full_trips_los.shape

(32227, 25)

In [26]:
full_trips_los.Mode.value_counts()

Car      14914
Walk     14027
Train     1676
Cycle     1610
Name: Mode, dtype: int64

In [27]:
full_trips_los.head()

,TRIPID,Mode,LINKMODE,TRIPPURP,DESTPURP1,TRIPTIME,TRAVTIME,TRAVDOW,TRAVDATE,TRAVMONTH,...,ORIGSA1,DESTSA1,ORIG_X,ORIG_Y,DEST_X,DEST_Y,STARTMIN,START_DETAIL_TIME,TRANSIT_TIME,TRANSIT_LEN
0,Y12H0000303P01T01,Train,Train,Work,Work Related,30,30,Wednesday,23/05/2012,May,...,20804119539,20607114413,145.061520,-37.872402,144.997645,-37.831626,10,23/05/2012 7:10,1975,9741
1,Y12H0000303P01T02,Train,Train,Work,At or Go Home,40,35,Wednesday,23/05/2012,May,...,20607114413,20804119539,144.997645,-37.831626,145.061520,-37.872402,0,23/05/2012 14:0,2012,9729
2,Y12H0000312P01T01,Train,Train,Work,Work Related,55,47,Friday,25/05/2012,May,...,20804119539,20604112214,145.061520,-37.872402,144.963048,-37.817061,0,25/05/2012 8:0,2202,12521
3,Y12H0000312P01T04,Train,Train,Work,At or Go Home,65,55,Friday,25/05/2012,May,...,20604112214,20804119539,144.963048,-37.817061,145.061520,-37.872402,15,25/05/2012 18:15,2650,16957
4,Y12H0000326P03T01,Train,Train,Work,Work Related,55,48,Friday,25/05/2012,May,...,20802118003,20604112224,145.079440,-37.889640,144.970239,-37.814414,10,25/05/2012 8:10,2520,15379

### Merge with trips_od to get full trip info

In [28]:
trips_od = pd.read_csv("../data/processed/trip_od_full.csv", low_memory=False)
cols = ['Mode', 'LINKMODE', 'TRIPPURP', 'DESTPURP1', 'TRIPTIME', 'TRAVTIME',
        'TRAVDOW', 'TRAVDATE', 'TRAVMONTH', 'TRAVYEAR', 'STARTHOUR', 'STARTIME', 
        'HomeSA1', 'CUMDIST','ORIGSA1', 'DESTSA1', 'ORIG_X', 'ORIG_Y', 'DEST_X', 'DEST_Y']
trips_od = trips_od.drop(columns=cols)

In [29]:
full_trips_los = full_trips_los.merge(trips_od, how='left', on='TRIPID')

In [30]:
# Save trips with LoS for further analysis
full_trips_los.to_csv("../data/processed/trip_gmap_los.csv", index=False)

In [31]:
full_trips_los.shape

(32227, 115)

In [33]:
full_trips_los.head().T

,0,1,2,3,4
TRIPID,Y12H0000303P01T01,Y12H0000303P01T02,Y12H0000312P01T01,Y12H0000312P01T04,Y12H0000326P03T01
Mode,Train,Train,Train,Train,Train
LINKMODE,Train,Train,Train,Train,Train
TRIPPURP,Work,Work,Work,Work,Work
DESTPURP1,Work Related,At or Go Home,Work Related,At or Go Home,Work Related
...,...,...,...,...,...
HOMETAZ,819,819,819,819,567
YOUNGEST,8,8,14,14,15
AVEAGE,37,37,32,32,37
OLDEST,63,63,59,59,61
HHINC,500,500,3875,3875,4675

### Combine trip_gmap_los with trip_here_los

In [23]:
trip_gmap_los = pd.read_csv("../data/processed/trip_gmap_los.csv", low_memory=False)
trip_here_los = pd.read_csv("../data/processed/trip_here_los.csv", low_memory=False)
trip_gmap_los.shape, trip_here_los.shape

((32227, 115), (32904, 119))

In [24]:
trip_los_full = trip_here_los.merge(trip_gmap_los[['TRIPID', 'TRANSIT_TIME', 'TRANSIT_LEN']], how='outer', on='TRIPID')
trip_los_full.dropna(inplace=True)
trip_los_full.shape

(32218, 121)

In [25]:
cols = ['TRIPID', 'Mode', 'LINKMODE', 'TRIPPURP', 'DESTPURP1', 'TRIPTIME', 'TRAVTIME', 'TRAVDOW', 'TRAVDATE', 'TRAVMONTH', 'TRAVYEAR',
 'STARTHOUR', 'STARTIME', 'HomeSA1', 'CUMDIST', 'ORIGSA1', 'DESTSA1', 'ORIG_X', 'ORIG_Y', 'DEST_X', 'DEST_Y', 'STARTMIN', 'START_DETAIL_TIME',
 'PERSID', 'TRIPNO', 'ARRHOUR', 'ARRTIME', 'WAITIME', 'ORIGSA3', 'DESTSA3', 'ORIG_CENTROID', 'DEST_CENTROID', 'HHID', 'PERSNO', 'WEEK',
 'MONTHOFBIRTH', 'YEAROFBIRTH', 'AGE', 'AGEGROUP', 'SEX', 'RELATIONSHIP', 'CARLICENCE', 'MBIKELICENCE', 'OTHERLICENCE', 'NOLICENCE',
 'FULLTIMEWORK', 'PARTTIMEWORK', 'CASUALWORK', 'ANYWORK', 'STUDYING', 'ACTIVITIES', 'MAINACT', 'WORKTYPE', 'EMPTYPE',
 'ANZSCO1', 'ANZSIC1', 'STARTPLACE', 'ANYSTOPS', 'NUMSTOPS', 'REASONCODE', 'MRTDOW', 'MRTINT', 'PERSINC', 'WHOFILLED', 'PROXY',
 'FILLDOW', 'FILLLAG', 'ADDITIONALTRAVEL', 'NEWSTOP', 'DISABLEDTRANS', 'TAXITRANS', 'WHEELCHAIRTRANS', 'ACCESSTRANS',
 'NONETRANS', 'NOTTOSAYTRANS', 'CYCLEDWORK', 'CYCLEDSHOPPING', 'CYCLEDEXERCISE', 'CYCLEDOTHER', 'NOCYCLED',
 'HOMESLA', 'HOMELGA', 'HomeSA2', 'HomeSA3', 'HomeSA4', 'HomeRegion_ASGS', 'HomeSubRegion_ASGS',
 'AgeGroup_RW', 'STOPS', 'ReportingPeriod', 'HHSIZE', 'VISITORS', 'DWELLTYPE', 'OWNDWELL', 'YEARSLIVED', 'MONTHSLIVED',
 'ADULTBIKES', 'KIDSBIKES', 'TOTALBIKES', 'PHONE', 'CARS', 'FOURWDS', 'UTES', 'VANS', 'TRUCKS', 'MBIKES', 'OTHERVEHS', 'TOTALVEHS',
 'HOMETAZ', 'YOUNGEST', 'AVEAGE', 'OLDEST', 'HHINC',
 'CAR_TIME', 'CAR_LEN', 'CYCLE_TIME', 'CYCLE_LEN', 'WALK_TIME', 'WALK_LEN', 'TRANSIT_TIME', 'TRANSIT_LEN']

In [26]:
trip_los_full = trip_los_full[cols]

In [27]:
trip_los_full.head()

,TRIPID,Mode,LINKMODE,TRIPPURP,DESTPURP1,TRIPTIME,TRAVTIME,TRAVDOW,TRAVDATE,TRAVMONTH,...,OLDEST,HHINC,CAR_TIME,CAR_LEN,CYCLE_TIME,CYCLE_LEN,WALK_TIME,WALK_LEN,TRANSIT_TIME,TRANSIT_LEN
0,Y12H0000303P01T01,Train,Train,Work,Work Related,30.0,30.0,Wednesday,23/05/2012,May,...,63.0,500,747.0,9336.0,2295.0,9205.0,8867.0,8733.0,1975.0,9741.0
1,Y12H0000303P01T02,Train,Train,Work,At or Go Home,40.0,35.0,Wednesday,23/05/2012,May,...,63.0,500,686.0,10328.0,2330.0,9192.0,8869.0,8782.0,2012.0,9729.0
2,Y12H0000312P01T01,Train,Train,Work,Work Related,55.0,47.0,Friday,25/05/2012,May,...,59.0,3875,846.0,13118.0,3174.0,12544.0,12363.0,12250.0,2202.0,12521.0
3,Y12H0000312P01T04,Train,Train,Work,At or Go Home,65.0,55.0,Friday,25/05/2012,May,...,59.0,3875,871.0,13612.0,87.0,57.0,12388.0,12250.0,2650.0,16957.0
4,Y12H0000326P03T01,Train,Train,Work,Work Related,55.0,48.0,Friday,25/05/2012,May,...,61.0,4675,984.0,15354.0,3724.0,15021.0,14415.0,14272.0,2520.0,15379.0

In [30]:
trip_los_full.to_csv("../data/processed/trip_los_full.csv", index=False)